.home{
  width: 100%;
  height: auto;
}
header{
  width: 100%;
  height: 95vh;
  background: linear-gradient(to top, rgba(39, 44, 51, .9),rgba(39, 44, 51, .9)), url("/hmbg2.jpg");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.HeroSec{
  width: 100%;
  height: 80%;
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 0px 7%;
}
.HeroDet{
  width: auto;
}
.HeroDet h1{
  font-size: 4.5rem;
  color: var(--primary);
  font-weight: bold;
  font-family: var(--font-three);
  text-transform: capitalize;
  margin: 0px 0px 15px 0px;
}
.HeroDet p{
  font-size: 1.3rem;
  color: var(--primary);
  font-family: var(--font-four);
  line-height: 1.5;
  word-spacing: 1.1px;
  font-weight: 400;
  margin: 0px 0px 30px 0px;
}

.browseLink{
  font-family: var(--font-three);
  color: var( --text);
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  display: inline-block;
  background-color: var(--primary);
  padding: 14px 30px;
  text-decoration: none;
  border-radius: 10px;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}
.teacherLink{
  font-family: var(--font-four);
  display: block;
  color: var(--light-primary);
  cursor: pointer;
}
.HeroIntroCon{
  width: 100%;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: var(--primary);
  box-shadow: 0px 0px 3px var(--box-shadow);
}
.HeroIntro{
  flex: 1;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  gap: 15px;
}
.HeroIconCon{
  min-width: 60px;
  height: 60px;
  background-color: var(--main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--primary);
}
.HeroDetCon{
  padding: 10px 0px;
}
.HeroDetCon h5{
  font-size: 1.05rem;
  color: var( --text);
  font-family: var(--font-three);
  font-weight: 600;
  text-transform: capitalize;
  margin: 0px 0px 5px 0px;
}
.HeroDetCon p{
  font-size: 0.8rem;
  color: var(--light-text);
  font-family: var(--font-one);
  font-weight: 400;
}
.main{
  width: 100%;
  background-color: var(--light-secondary);
  padding: 30px 0% 0% 0%;
}
.mainBlogCon{
  width: 100%;
  padding: 0px 6% 3% 6%;
  border-bottom: 1px solid var(--light-primary);
}
.mainBlogHeading{
  font-size: 1.1rem;
  font-family: var(--font-three);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text);
  font-style: normal;
  word-spacing: 3px;
  position: relative;
  margin: 0px 0px 20px 0px;
}
.mainBlogHeading::before{
  position: absolute;
  content: "";
  width: 87%;
  height: 1.2px;
  background-color: var(--light-primary);
  top: 50%;
  right: 0%;
}
.mainBlogItemCon{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 0px 0px 30px 0px;
}
.mainBlogItems{
  flex: 1;
  width: 100%;
  height: 200px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.mainBlogItems .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 15px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.overlayTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.overlayTop p{
  font-size: 0.8rem;
  font-family: var(--font-four);
  font-weight: 600;
  color: var(--primary);
  display: flex;
  align-items: center;
  gap: 4px;
  letter-spacing: 0.5px;
}
.overlayTop p span{
  display: flex;
  align-items: center;
}
.overlayTop .iconCon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--light-primary);
  overflow: hidden;
}
.overlayTop .iconCon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CourseDet{
  width: 100%;
}
.CourseDet h3{
  font-size: .9rem;
  color: var( --light-primary);
  font-weight: 500;
  font-family: var(--font-four);
  text-transform: uppercase;
  margin: 0px 0px 5px 0px;
}
.CourseDet p{
  font-size: 0.92rem;
  color: var(--primary);
  font-weight: 500;
  font-family: var(--font-three);
}

.LBlogWrapper{
  width: 100%;
  background-color: var(--primary);
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 1px 3px var(  --box-shadow);
  border: 1px solid var(--box-shadow);
}
.LBlogCon{
  width: auto;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: flex-start;
}
.LBlogItem{
  display: flex;
  align-items: center;
  gap: 15px;
}
.LBlogItem span{
  display: flex;
  align-items: center;
  justify-content: center;
}
.LBlogIcon{
  width: 60px;
  height: 60px;
  border-radius: 3px;
  overflow: hidden;
}
.LBlogIcon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.LBlogDet{
  width: auto;
}
.LBlogPara{
  font-size: 1rem;
  color: var(--light-text);
  font-family: var(--font-four);
  text-transform: uppercase;
  font-weight: 400;
}
.LBlogDet h3{
  font-size: 1rem;
  color: var( --text);
  font-family: var(--font-three);
  text-transform: capitalize;
  margin: 0px 0px 5px 0px;
  font-weight: 700;
}
.LBlogDet p{
  font-size: .9rem;
  font-family: var(--font-four);
  color: var(--light-text);
  font-weight: 400;
}
.LBlogTutorCon{
  display: flex;
  align-items: center;
  gap: 10px;
}
.LBlogTutorIcon{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid var(--primary);
  overflow: hidden;
}
.LBlogTutorCon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.LBlogTutorCon h2{
  font-size: .9rem;
  color: var(--light-text);
  font-weight: bold;
  font-family: var(--font-three);
  text-transform: capitalize;
}
.mainLearningCon{
  width: 100%;
  padding: 30px 6% 3% 6%;
  border-bottom: 1px solid var(--light-primary);
}
.mainLearningHeading{
  font-size: 1.1rem;
  font-family: var(--font-three);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--text);
  font-style: normal;
  word-spacing: 3px;
  position: relative;
  margin: 0px 0px 20px 0px;
}
.mainLearningHeading::before{
  position: absolute;
  content: "";
  width: 87%;
  height: 1.2px;
  background-color: var(--light-primary);
  top: 50%;
  right: 0%;
}
.mainLearningWrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
.mainLearning{
  width: 100%;
  height: auto;
  background-color: transparent;
  position: relative;
  z-index: 2;
}
.mainLearnWrap{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding: 10px;
  box-shadow: 0px 1px 2px var(--box-shadow);
  border-radius: 8px;
  z-index: 2;
}
.mainLearnWrap::after{
  position: absolute;
  content: "";
  height: 100%;
  width: 94%;
  background-color: var(--primary);
  box-shadow: 0px 1px 2px var(--box-shadow);
  left: 3%;
  bottom: -9%;
  z-index: -2;
  border-radius: 8px;
}
.mainLearning button{
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-primary);
  font-weight: 400;
  z-index: 2;
}
.mainLearningSub{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  z-index: 2;
}
.courseIcon{
  width: 40px;
  height: 40px;
  border-radius: 5px;
  overflow: hidden;
}
.courseIcon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.courseDet{
  width: auto;
}
.courseDet h2{
  font-size: 1rem;
  font-family: var(--font-three);
  font-weight: bold;
  text-transform: capitalize;
  margin: 0px 0px 3px 0px;
  color: var( --text);
}
.courseDet p{
  font-size: 0.85rem;
  font-family: var(--font-four);
  font-weight: 500;
  font-style: normal;
  color: var(--light-text);
  margin: 0px 0px 2px 0px;
}

.mainFeatureCon{
  width: 100%;
  padding: 30px 6% 3% 6%;
  border-bottom: 1px solid var(--light-primary);
}
.mainFeatureWrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.featureCourses{
  flex: 1;
  border-radius: 6px;
  background-color: var(--primary);
  box-shadow: 2px 2px 5px var(--light-primary);
}
.featureCoursesImgCon{
  width: 100%;
  height: 150px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin: 0px 0px 0px 0px;
}
.featureDet{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
  border-bottom: .3px solid var(--box-shadow);
}
.featureDet h2{
  font-size: 1.05rem;
  font-family: var(--font-three);
  font-weight: 700;
  color: var(--text);
  text-transform: capitalize;
  margin: 0px 0px 3px 0px;
}
.featureDet p{
  font-family: var(--font-four);
  font-weight: 400;
  color: var(  --light-text);
  font-size: .85em;
  font-style: normal;
  text-transform: capitalize;
  margin: 0px 0px 3px 0px;
}
.featureDet button{
  border: none;
  background-color: transparent;
  color: var(--light-primary);
}
.featureInfo{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px  10px;
  border-bottom: .3px solid var(--box-shadow);
}
.featureInfo p{
  display: flex;
  align-items: center;
  font-family: var(--font-four);
  font-weight: 400;
  color: var(--light-text);
  font-size: .85rem;
}
.featureInfo p span{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 5px 0px 0px;
}
.mainFeedBackCon{
  width: 100%;
  padding: 30px 6% 3% 6%;
  border-bottom: 1px solid var(--light-primary);
}
.mainFeedBackHeading{
  width: 100%;
  text-align: center;
}
.mainFeedBackHeading h1{
  width: max-content;
  font-family: var(--font-three);
  font-weight: 600;
  color: var(--text);
  text-transform: capitalize;
  font-size: 2.6rem;
  font-style: normal;
  position: relative;
  margin: 0px auto 20px auto;

}
.mainFeedBackHeading h1::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 5px;
  background-color: var(--main);
  border-radius: 5px;
  left: 0;
  bottom: -10%;
}
.mainFeedBackHeading p{
  font-size: .9rem;
  width: 50%;
  font-family: var(--font-four);
  color: var(--light-text);
  line-height: 1.5;
  margin: 0px auto;
}
.reviewCard{
  padding: 20px;
}
.reviewPara{
  width: auto;
  background-color: var(--primary);
  padding: 20px;
  border-radius: 6px;
  margin: 0px 0px 25px 0px;
  box-shadow: 2px 2px 3px var(--box-shadow);
  position: relative;
}
.reviewPara::after{
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--primary);
  left: 5%;
  bottom: -5%;
  transform: rotate(45deg);
}
.reviewPara p{
  font-size: .85rem;
  font-family: var(--font-four);
  color: var(--light-text);
  font-weight: 400;
  line-height: 1.4;
  padding: 0px 0px 0px 20px;
  border-left: 5px solid var(--light-secondary);
}
.reveiwProfile{
  display: flex;
  align-items:  center;
  gap: 15px;
  padding: 0px 20px;
}
.reviewImgCon{
  width: 35px;
  height: 35px;
  border-radius: 50px;

  overflow: hidden;
}
.reviewImgCon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reveiwProfile h2{
  font-size: 1rem;
  font-family: var(--font-three);
  font-weight: 600;
  color: var(--text);
  text-transform: capitalize;
  font-style: normal;
  margin: 0px 0px 5px 0px;
}